version: "3.9"

services:
  app:
    build: .
    ports:
      - 9090:${PORT}
    volumes:
      - .:/backend
    depends_on:
      - mongo_db
      
  mongo_db:
    image: mongo:latest
    volumes:
      - ./data/db:/data/db
    restart: unless-stopped
    ports:
      - 27017:27017 